body {
  margin: 0 0;
  width: 100%;
  background: #ffbe0b;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 50px;
  color: #1d6d1d;
  border: #2c3112;
  border-style: solid;
  border-radius: 5px;
}

header {
  background-color: #fb5407dc;
  width: 100%;
  border-radius: 5px;
}

h2 {
  color: #38ec38;
  border: #d0ff00;
  background-color: #3b4bdf3b;
  border-style: solid;
  border-radius: 5%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

SeriesEpisode {
  text-align: left;
  margin: 0;
}

p {
  font-size: large;
}

/* .controls {
  width: 800px;
  margin: 0 auto;
} */
.episodes {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
}

.episode {
  background: #fb5607;
  width: 250px;
  border-radius: 5px;
  padding: 20px;
  padding-top: 5px;
  margin: 10px;
  position: relative;
  text-align: center;
}

.group,
.type {
  color: white;
  width: 300px;
  border-radius: 5px;
  padding: 8px;
  font-size: small;
}

.group {
  background: #ff006e;
}

.type {
  background: #3a86ff;
}

button.copy {
  position: absolute;
  top: 20px;
  right: 20px;
}

.footer {
  padding: 20px;
}

button,
input {
  margin: 2px;
  padding: 4px;
}
.img {
  margin: auto;
}
